
@font-face { 

   font-family: Avenir;
   
   src: url("../islt_7310/Avenir-Roman.otf"); /*remember this is how we link to files in CSS!*/
   
   }

p{font-family: Avenir;}

h1 {color: #141085;}
h3{ color:#141085;}
@media(min-width:1100px){
[class^="griditem"] {
   text-align: center;
 }
 .end {
   display: grid;
   grid-template-rows: 1fr;
   grid-template-columns: repeat(3, 1fr);
   grid-auto-flow: dense;
   grid-gap: 5px;
   padding: 10px;
    margin: 20px;
  }
 .t3xtbox {
   display: grid;
   background-color:  #7E7AEB;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(5,auto);
   grid-auto-flow: dense;
   grid-gap: 5px;
   padding: 10px;
    margin: 20px;
  }

 .menu {   
    grid-row: 1;
    margin:auto;
    grid-column: 1/ span 3; 
    position: relative;

 }
 
 .title {
    grid-column: 2; 
    grid-row: 2;
   background-color: #E1E0FF;
   margin: auto;
   width: 350px;
   padding: 0px;
   position: relative;
   font-family: Georgia;
 }

 .Portfolio{
   grid-column: 2; 
   grid-row: 3;
  border:3px;
  width: fit-content;
 height: fit-content;
 margin:auto;
 position: relative;

   }
 .context {
    grid-column: 1/ span 3; 
    grid-row: 3/ span 5;
   background-color: #E1E0FF;
   padding: 5px;
   margin: auto;
   font-size: 20px;
   position: relative;

   
}
.Xcontext {
   grid-column: 1/ span 3; 
   grid-row: 3/ span 5;
  padding: 5px;
  margin: auto;
  font-size: 20px;
  position: relative;
  overflow: scroll;
}

.Acontext {
   grid-column: 1/ span 3; 
   grid-row: 4/ span 5;
  background-color: #E1E0FF;
  padding: 5px;
  margin: auto;
  font-size: 20px;
  position: relative;

  
}


 .footer {
    grid-column: 2; 
    grid-row: 1;
   padding: 5px;
   margin: auto;
   font-size: 20px;
   position: relative;
   text-align: center;
   color:#E1E0FF;

   background-image: url("../islt_7310/Welcome.jpg");
   background-size: cover;
}
.iframe-place{
   grid-column: 2; 
   grid-row: 5;
  border:3px;
  width: fit-content;
 height: fit-content;
 margin:auto;
}


.Project1{

   position: relative;
   grid-column: 2/span 3; 
    grid-row: 3;
    background-color: #E1E0FF;
    padding: 5px;
    margin:auto;


}

.Project1L{
   grid-column: 1; 
    grid-row: 3;
   border:3px;
   width: fit-content;
  height: fit-content;
  position: relative;
  margin:auto;

}
.Project2{

   position: relative;
   grid-column: 1/span 2; 
    grid-row: 4;
    background-color: #E1E0FF;
    margin:auto;
}
.Project2R{
   grid-column: 3; 
    grid-row: 4;
   border:3px;
   width: fit-content;
   height: fit-content;
   position: relative;
   margin:auto;

}
.Project3{

   position: relative;
   grid-column: 2/span 3; 
    grid-row: 5;
    background-color: #E1E0FF;
    margin:auto;
}
.Project3L{
   grid-column: 1; 
   grid-row: 5;
   border:3px;
   width: fit-content;
   height: fit-content;
   position: relative;
   margin:auto;

}
}

@media(max-width:1100px){
   [class^="griditem"] {
      text-align: center;
    }
    .end {
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: repeat(3, 1fr);
      grid-auto-flow: dense;
      grid-gap: 5px;
      padding: 10px;
       margin: 20px;
     }
    .t3xtbox {
      display: grid;
      background-color:  #7E7AEB;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(8,auto);
      grid-auto-flow: dense;
      grid-gap: 5px;
      padding: 10px;
       margin: 20px;
     }
   
    .menu {   
       grid-row: 1;
       margin:auto;
       grid-column: 1/ span 3; 
       position: relative;
   
    }
    
    .title {
       grid-column: 2; 
       grid-row: 2;
      background-color: #E1E0FF;
      margin: auto;
      width: 350px;
      padding: 0px;
      position: relative;
      font-family: Georgia;
    }
    
    .Portfolio{
      grid-column: 2; 
      grid-row: 3;
     border:3px;
     width: fit-content;
    height: fit-content;
    margin:auto;
      }
    .context {
       grid-column: 1/ span 3; 
       grid-row: 3/ span 5;
      background-color: #E1E0FF;
      padding: 5px;
      margin: auto;
      font-size: 20px;
      position: relative;
   
      
   }
   
   .Xcontext {
      grid-column: 1/ span 3; 
      grid-row: 3/ span 5;
     padding: 5px;
     margin: auto;
     font-size: 20px;
     position: relative;
     overflow: scroll;
   }
   .Acontext {
      grid-column: 1/ span 3; 
      grid-row: 4/ span 8;
     background-color: #E1E0FF;
     padding: 5px;
     margin: auto;
     font-size: 20px;
     position: relative;
 
   }
   
   
   
   
    
    .footer {
       grid-column: 2; 
       grid-row: 1;
      padding: 5px;
      margin: auto;
      font-size: 20px;
      position: relative;
      text-align: center;
      color:#E1E0FF;
   
      background-image: url("../islt_7310/Welcome.jpg");
      background-size: cover;
   }
   .iframe-place{
      grid-column: 2; 
      grid-row: 8;
     border:3px;
     width: fit-content;
    height: fit-content;
    margin:auto;
   }
   
   
   .Project1{
   
      position: relative;
      grid-column: 1/span 3; 
       grid-row: 4;
       background-color: #E1E0FF;
       padding: 5px;
       margin:auto;
   
   
   }
   
   .Project1L{
      grid-column: 2; 
       grid-row: 3;
      border:3px;
      width: fit-content;
     height: fit-content;
     position: relative;
     margin:auto;
   
   }
   .Project2{
   
      position: relative;
      grid-column: 1/span 3; 
       grid-row: 6;
       background-color: #E1E0FF;
       margin:auto;
   }
   .Project2R{
      grid-column: 2; 
       grid-row: 5;
      border:3px;
      width: fit-content;
      height: fit-content;
      position: relative;
      margin:auto;
   
   }
   .Project3{
   
      position: relative;
      grid-column: 1/span 3; 
       grid-row: 8;
       background-color: #E1E0FF;
       margin:auto;
   }
   .Project3L{
      grid-column: 2; 
      grid-row: 7;
      border:3px;
      width: fit-content;
      height: fit-content;
      position: relative;
      margin:auto;
   
   }
   }
   
@media(max-width:800px){
   [class^="griditem"] {
      text-align: center;
    }
    .end {
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: 1fr;
      grid-auto-flow: dense;
      grid-gap: 5px;
      padding: 10px;
       margin: 20px;
       justify-content: center;
     }
    
     .t3xtbox {
      display: grid;
      background-color:  #7E7AEB;
      grid-template-rows: repeat(3,auto);
      grid-template-columns: 1fr;
     grid-template-areas:
     "menu"
      "title"
      "content";
      grid-gap: 5px;
      padding: 10px;
       margin: 20px;
      justify-content: center;

      text-align: center;
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      position: relative;
     }
 
    .menu {   
     grid-area:menu;
       margin: auto;
       padding: 10px;
    }
    
    .title {
     grid-area:title;
      background-color: #E1E0FF;
      margin: auto;
      padding: 25px;
      overflow-wrap: anywhere;
    }
    
 .Portfolio{
   grid-column: 1; 
   grid-row: 3;
  border:3px;
  width: fit-content;
 height: fit-content;
 margin:auto;
   }
    
    .context {
     grid-area: content;
      background-color: #E1E0FF;
      padding: 5px;
      margin: auto;
      position: relative;
      font-size: 25px;
   
   }
   .Xcontext {
      grid-column: 1/ span 3; 
      grid-row: 3/ span 5;
     padding: 5px;
     margin: auto;
     font-size: 20px;
     position: relative;
     overflow: scroll;
   }
   .Acontext {
      grid-column: 1/ span 3; 
      grid-row: 4/ span 8;
     background-color: #E1E0FF;
     padding: 5px;
     margin: auto;
     font-size: 20px;
     position: relative;
   
     
   }
   
   
   .footer {
      grid-column: 1; 
      grid-row: 1;
     padding: 5px;
     margin: auto;
     font-size: 25px;
     background-image: url("../islt_7310/Welcome.jpg");
     background-size: cover;
     color:#E1E0FF;
   }
.iframe-place{
   grid-column: 1; 
   grid-row: 3;
  border:3px;
  width: fit-content;
 height: fit-content;
 margin:auto;
}

.Project1{
   position: relative;
   grid-column: 1; 
    grid-row: 3;
    background-color: #E1E0FF;
    padding: 5px;

}
.Project1L{
   grid-column: 1; 
    grid-row: 3;
   border:3px;
   width: fit-content;
  height: fit-content;
  margin:auto;
}
.Project2{
   position: relative;
   grid-column: 1; 
    grid-row: 3;
    background-color: #E1E0FF;
}
.Project2R{
   grid-column: 1; 
    grid-row: 3;
   border:3px;
   width: fit-content;
   height: fit-content;
   margin:auto;
}
.Project3{
   position: relative;
   grid-column: 1; 
    grid-row: 3;
    background-color: #E1E0FF;
}
.Project3L{
   grid-column: 1; 
   grid-row: 3;
   border:3px;
   width: fit-content;
   height: fit-content;
   margin:auto;
}
}

@media print {
   #logo,
   .menu,
   .iframe-place,

img {
      display:none;}
body{
   
   background: none !important;
   color:black !important;
   margin: 1px !important;
}

h1{color:black;}
h3{color: black;}
a {display: none;}
p{font-size: 18px;}
li{font-size:15px;}
blockquote{font-size:15px;}
}

.pic{
width:26px;
height:26px;

}

.picBig{
position:absolute;
width:0px;
-webkit-transition: width 0.3s linear 0s;
transition: width 0.3s linear 0s; z-index:10;

}
.pic:hover + .picBig{
   width: 200px;
}

table{
   border-collapse:collapse;
}

table th{
   background-color: #7363b0;
   color: #E1E0FF;
}

table td{

   background-color: #E1E0FF;
   padding: 10px;
   border:2px solid #7363b0;
   text-align: center;
}

table tr:nth-child(odd) td{
   background-color: #acaaed;

}

form{
   text-align: left;
   margin:5px;
   background-color: #acaaed;
   border: 3px solid #7363b0;
   padding: 5px;
}